---
import Card from "./card.astro"
---

<div>
  <div class="h-auto flex items-center justify-center bg-[#f9f9fac7] p-2 w-screen overflow-hidden">
      <img src="/blog-img.png" alt="blog" class="myImg sm:block hidden" />    
      <img src="/blog-imgC.png" alt="blog" class="myImg sm:hidden w-full" />
  </div>
    <Card/>
</div>
